@import "tailwindcss";


:root {
  --foreground: #dfdfdf;
  --disabled-date: #b3b3b3;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-disabled-date: var(--disabled-date)
}

body {
  background-color: transparent;
  color: var(--foreground);
}