name: Cron Job
on: 
  schedule:
    - cron: '*/10 * * * *'
jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Curl scheduled endpoint
        run: curl https://tenki-site.vercel.app/api/file
